@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
}
body {
    background: #f1fbff;
}
.section-padding {
    padding: 100px 0;
}
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.navbar .getstarted {
    background: #ead110;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    line-height: 2.3;
}
.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}
.w-100 {
    height: 100vh;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
}
.portfolio .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
    font-size: 50px;
}
.team .card-body i {
    font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }
    .carousel-caption p {
        width: 100%;
    }
    .card {
        margin-bottom: 30px;
    }
    .img-area img {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card {
        margin-bottom: 30px;
    }
}
.pricing-area {
    padding: 10px 0;
}
.single-price {
    padding-bottom: 25px;
    background: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.single-price a {
    background: #ffc107;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
}
.single-price:hover {
    cursor: pointer;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.04);
}
.single-price::before {
    content: '';
    width: 100%;
    height: 350px;
    background: #ffc107;
    position: absolute;
    top: -150px;
    left: 0;
    transform: skewY(-20deg);
}
.singleprice::before {
    content: '';
    width: 100%;
    height: 350px;
    background: #2e2e2e;
    position: absolute;
    top: -150px;
    left: 0;
    transform: skewY(-20deg);
}
.single-price .price-header {
    padding: 20px 20px 60px;
    text-align: left;
    position: relative;
}
.single-price .title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.single-price .price-value {
    display: inline-block;
    width: 170px;
    height: 110px;
    padding: 15px;
    border-top: none;
    border-bottom: none;
    position: relative;
}
.single-price .value {
    width: 100%;
    height: 100%;
    background: #fff;
    border: 5px solid #262626;
    border-top: none;
    border-bottom: none;
    z-index: 1;
    position: relative;
}
.single-price .value::before,
.single-price .value::after {
    content: '';
    width: 97px;
    height: 97px;
    background: #fff;
    border: 5px solid #262626;
    border-bottom: none;
    border-right: none;
    position: absolute;
    top: -48px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.single-price .value::after {
    border-right: 5px solid #262626;
    border-bottom: 5px solid #262626;
    border-top: none;
    border-left: none;
    top: auto;
    bottom: -48px;
}
.single-price .currency {
    display: inline-block;
    font-size: 30px;
    margin-top: 7px;
    vertical-align: top;
}
.single-price .amount {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    line-height: 65px;
}
.single-price .amount span {
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    vertical-align: top;
    margin-top: -7px;
}
.single-price .month {
    display: block;
    font-size: 20px;
    line-height: 0;
}
.single-price .deals {
    padding: 70px 0 0 0;
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.single-price .deals li {
    padding: 7px 0;
    font-size: 16px;
    color: #808080;
    position: relative;
}
.col-sm-6 {
    margin-top: 25px;
}
@media only screen and (max-width: 990px) {
    .single-price {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .single-price:before {
        transform: skewY(-15deg);
    }
    .single-price .title {
        font-size: 22px;
    }
    .division-plan {
        display: none;
    }
}

.form-area {
    padding-top: 4%;
}
.row.single-form {
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}
.left {
    background: #ffc107;
    padding: 200px 98px;
}
.left h2 {
    font-family: poppins;
    color: #fff;
    font-weight: 700;
    font-size: 44px;
}
.left h2 span {
    font-weight: 100;
}
.single-form {
    background: #fff;
}
.right {
    padding: 70px 100px;
    position: relative;
}
.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}
.form-control {
    border: 2px solid #000;
}
.right button {
    border: none;
    border-radius: 0;
    background: #252525;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.right button:hover {
    background-color: #252525;
}

/*responsive*/

@media (min-width: 768px) and (max-width: 991px) {
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}

@media (max-width: 767px) {
    .left {
        padding: 90px 15px;
        text-align: center;
    }
    .left h2 {
        font-size: 25px;
    }
    .right {
        padding: 25px;
    }
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 46%;
    }
    .right button {
        width: 150px;
        padding: 12px 0;
    }
}

.page-footer {
    position: relative;
    display: block;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #000;
}

.page-footer hr {
    border-color: #3f424f;
}

.page-footer h5 {
    margin-bottom: 24px;
}

.page-footer p {
    color: rgba(17, 17, 17, 0.7);
}

.footer-menu {
    position: relative;
    padding-left: 0;
    list-style: none;
}

.footer-menu li {
    margin-bottom: 8px;
}

.footer-menu a {
    color: #2f3338;
}

.footer-menu a:hover {
    color: #fff;
}

.sosmed-button a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    outline: none !important;
}
